// _variales.scss: variables used throughout your project.

// ==============================================================
//		colours
// ==============================================================
$soft-black: #222;
$off-white: rgb(231,231,231);
$light-grey: #d5d5d5;
$grey: #939598;
$mid-blue: #228ef1;
$light-blue: #cee0f0;

// ==============================================================
//		fonts
// ==============================================================
$font-light: 300;
$font-regular: 400;
$font-semi-bold: 600;
$font-bold: 700;
$font-black: 900;

$font-family: arial, sans-serif;
$font-family-headings: Oswald, sans-serif;

// ==============================================================
//		margins and padding
// ==============================================================
$v-rhythm: 24px;

// ==============================================================
//		Breakpoints
// ==============================================================
$s: 320px;
$s-max: max-width 320px;
$s-m: 320px 768px;
$m: 768px;
$m-max: max-width 480px;
$m-l: 768px 900px;
$l: 900px;